.SearchForm-container {
  display: flex;
  flex-direction: column;
}

.SearchForm-container form {
  align-self: center;
}

.SearchForm-container button {
  align-self: center;
  font-size: 22px;
  width: 220px;
}

.SearchForm-errors {
  color: red;
}
